<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="https://github.com/joaoggs">
    <meta name="author" content="Joaoggs">
    <link rel="icon" href="~/Content/Dain-Logo.png">
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Dashboard.css" rel="stylesheet">
    <link href="~/Content/file-input.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Scripts/Dashboard.js"></script>
    <script type="text/javascript" src="~/Scripts/fileImage.js"></script>
</head>

@{
    var layoutPrimary = "dark";
    if (ViewBag.LayoutStyle == null)
    {
        ViewBag.LayoutStyle = "dark";
    }
    if (ViewBag.LayoutStyle != "primary")
    {
        layoutPrimary = @ViewBag.LayoutStyle;
    }
}
<body>
    <nav class="navbar navbar-@layoutPrimary fixed-top bg-@ViewBag.LayoutStyle flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">@ViewBag.Name</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="@Url.Action("Logout", "User", null)">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">

                        @if (ViewBag.Type == "pub")
                        {
                            <li class="nav-item" align="center">
                                <div class="profileimage img-thumbnail" style="margin:auto;">
                                    <a href="@Url.Action("Account", "Pub", null)">
                                        @if (!String.IsNullOrEmpty(ViewBag.Profile))
                                        {<img src="@ViewBag.Profile"> }
                                        else
                                        { <img src="~/Content/Preview.png">}
                                    </a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" href="@Url.Action("Dashboard","Pub",null)">
                                    <span data-feather="home"></span>
                                    Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            //ToDo:
                            @*<li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file"></span>
                                    Infos
                                </a>
                            </li>*@
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Product","Pub",null)">
                                    <span data-feather="shopping-cart"></span>
                                    Products
                                </a>
                            </li>
                            //ToDo:
                            @*<li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="users"></span>
                                    Customers
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="bar-chart-2"></span>
                                    Reports
                                </a>
                            </li>*@
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Account","Pub",null)">
                                    <span data-feather="layers"></span>
                                    Account
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item" align="center">
                                <div class="profileimage img-thumbnail" style="margin:auto;">
                                    <a href="@Url.Action("Account", "Person", null)">

                                        @if (!String.IsNullOrEmpty(ViewBag.Profile))
                                        {<img src="@ViewBag.Profile"> }
                                        else
                                        { <img src="~/Content/Preview.png">}

                                    </a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" href="@Url.Action("Dashboard","Person",null)">
                                    <span data-feather="home"></span>
                                    Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            //ToDo:
                            @*<li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file"></span>
                                    Infos
                                </a>
                            </li>*@
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Pubs","Person",null)">
                                    <span data-feather="users"></span>
                                    Pubs List
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Account","Person",null)">
                                    <span data-feather="layers"></span>
                                    Account
                                </a>
                            </li>
                        }


                    </ul>

                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">@ViewBag.Title</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-secondary">Facebook</button>
                            <button class="btn btn-sm btn-outline-secondary">Other</button>
                        </div>
                    </div>
                </div>

                @RenderBody()

            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq0VfrA_iDhSsQFW-wHlZ3X78rZ68GngI&callback=initialize"></script>
</body>
</html>
