@using Dain.Models
@using Dain.Utils;
@using Dain.DAL;

@model Person

@{
    ViewBag.Title = "Dashboard - Account";
    ViewBag.Name = ViewBag.Name;
    Layout = "~/Views/Shared/_Layout-Dashboard-Person.cshtml";
    ViewBag.User = UserDAO.Search(UserSession.ReturnUserId(null));
    ViewBag.Profile = ViewBag.Profile;
}

<div class="line">
    <h5 style="color:dodgerblue;">Account Details</h5>
</div>

<div class="line-np">

    <p class="ul" onclick="Show(1)">Change Name, Birthday</p>
    @using (Html.BeginForm("Update", "Person", FormMethod.Post))
    {
        <div class="form-signin" id="nameForm" style="display:none;">
            <div class="card text-center col-md-4">
                <div class="card-body">

                    @Html.LabelFor(model => model.Name)
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
                    <br />

                    @Html.LabelFor(model => model.Birthday)
                    @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control", @type = "date", placeholder = "Birthday" } })
                    <br />

                    <button class="btn btn-outline-dark" type="submit">Change</button>
                </div>
            </div>
            <br />
        </div>


        <p class="ul" onclick="Show(2)">Change Address</p>
        <div class="form-signin" id="addressForm" style="display:none;">
            <div class="card text-center col-md-4">
                <div class="card-body">
                    @Html.LabelFor(model => model.Address)
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address" } })
                    <br />

                    <label for="state">State</label>
                    <select name="state" class="form-control">
                        <option>Paraná</option>
                    </select>
                    <br />

                    @Html.LabelFor(model => model.City)
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", placeholder = "City" } })
                    <br />

                    <button class="btn btn-outline-dark" type="submit">Change</button>
                </div>
            </div>
            <br />
        </div>
    }

    @{Html.RenderPartial("UserUpdate", (User)ViewBag.User); }
</div>

<br />
<div class="line">
    <h5 style="color:dodgerblue;">Image</h5>
</div>
<div class="line-np">
    <div class="form-signin" id="imgForm" style="display:initial;">
        <div class="card text-center col-md-4">
            <div class="card-body">
                @using (Html.BeginForm("UpdatePhoto", "Person", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div id="wrapper">
                        @if (Model != null && !String.IsNullOrEmpty(ViewBag.Profile))
                        {<img src="@ViewBag.Profile" id="output_image" class="rounded mx-auto d-block"> }
                        else
                        { <img src="~/Content/Preview.png" id="output_image" class="rounded mx-auto d-block">}

                        <br />
                        <div class="custom-file">
                            <input type="file" accept="image/*" onchange="Preview_image(event)" class="custom-file-input" name="upImage" id="upImage">
                            <label class="custom-file-label" id="label_image" for="upImage">Choose Photo</label>
                        </div>
                        <br />
                        <button class="btn btn-outline-dark" type="submit">Change</button>
                    </div>
                }
            </div>
        </div>
        <br />
    </div>
</div>

<br />
<div class="line">
    <h5 style="color:dodgerblue;">Sessions</h5>
</div>

<div class="line-np">
    177.99.180.203<br />
    Último uso: Há menos de uma hora (sessão atual)
</div>

<br />
<div class="line">
    <h5 style="color:dodgerblue;">Credentials</h5>
</div>
<br />

<div class="line-np">
    <div class="card border-danger col-md-5">
        <div class="card-body text-danger">
            <h5 class="card-title">Delete Account</h5>
            <p class="card-text">Enter your password and click delete</p>
            @using (Html.BeginForm("Delete", "Person", FormMethod.Post, new { @class = "form-signin", id = "deleteForm" }))
            {
                <label for="deletePassword" class="sr-only">Password</label>
                @Html.Password("Password", null, new { @class = "form-control border-danger col-md-6", id = "deletePassword", required = "true", placehold = "Password" });
                <br />
                <button class="btn btn-outline-danger" type="submit">Delete</button><br />
            }
        </div>
    </div>
</div>