@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout-Dashboard.cshtml";
    ViewBag.PubsList = ViewBag.PubsList;
    ViewBag.Lat = ViewBag.Lat;
    ViewBag.Lon = ViewBag.Lon;
    ViewBag.Profile = ViewBag.Profile;
}

<div id="map" style="width:100%;height:800px;"></div>

<script>
    var json = '@Html.Raw(ViewBag.PubsList)';
    var style = '[{"elementType":"geometry","stylers":[{"color":"#212121"}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"elementType":"labels.text.fill","stylers":[{"color":"#757575"}]},{"elementType":"labels.text.stroke","stylers":[{"color":"#212121"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"color":"#757575"}]},{"featureType":"administrative.country","elementType":"labels.text.fill","stylers":[{"color":"#9e9e9e"}]},{"featureType":"administrative.land_parcel","stylers":[{"visibility":"off"}]},{"featureType":"administrative.locality","elementType":"labels.text.fill","stylers":[{"color":"#bdbdbd"}]},{"featureType":"poi","elementType":"labels.text.fill","stylers":[{"color":"#757575"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#181818"}]},{"featureType":"poi.park","elementType":"labels.text.fill","stylers":[{"color":"#616161"}]},{"featureType":"poi.park","elementType":"labels.text.stroke","stylers":[{"color":"#1b1b1b"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#2c2c2c"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#8a8a8a"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#373737"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#3c3c3c"}]},{"featureType":"road.highway.controlled_access","elementType":"geometry","stylers":[{"color":"#4e4e4e"}]},{"featureType":"road.local","elementType":"labels.text.fill","stylers":[{"color":"#616161"}]},{"featureType":"transit","elementType":"labels.text.fill","stylers":[{"color":"#757575"}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"color":"#3d3d3d"}]}]';
    var map, infoWindow, userMarker, pubPosition, userPosition;
    var directionsService;
    var directionsDisplay;

    var initialPosition = {
        lat: parseFloat('@ViewBag.Lat'.replace(",", ".")),
        lng: parseFloat('@ViewBag.Lng'.replace(",", "."))
    };

    function initialize() {
        directionsService = new google.maps.DirectionsService();
        directionsDisplay = new google.maps.DirectionsRenderer();

        userPosition = new google.maps.LatLng(initialPosition);

        // Map
        var mapOptions = {
            center: userPosition,
            zoom: 14,
            styles: JSON.parse(style),
            gestureHandling: 'greedy'
        };
        map = new google.maps.Map(document.getElementById("map"), mapOptions);

        // Route
        directionsDisplay.setMap(map);

        // GPS
        infoWindow = new google.maps.InfoWindow;

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                initialPosition = pos;

                // Remove the last user marker
                userMarker.setMap(null);
                // Set a new user marker in the gps given position of the user
                userMarker = new google.maps.Marker({
                    position: initialPosition,
                    icon: '@Url.Content("~/Content/Dain-User.ico")',
                    map: map
                });
                

                infoWindow.setPosition(pos);
                infoWindow.setContent('Location found!');
                infoWindow.open(map);
                map.setCenter(pos);
            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });

            userMarker = new google.maps.Marker({
                position: initialPosition,
                icon: '@Url.Content("~/Content/Dain-User.ico")',
                map: map
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());

            // Add the marker in the position where the user lives
            userMarker = new google.maps.Marker({
                position: initialPosition,
                icon: '@Url.Content("~/Content/Dain-User.ico")',
                map: map
            });
        }

        // Add pub markers
        addMarkers();
    }

    //Gps errors
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }


    function addMarkers() {
        var markerData = JSON.parse(json);

        $.each(markerData, function () {
            var myLatlng = new google.maps.LatLng(this.Lat, this.Lng);

            new google.maps.Marker

            var marker = new google.maps.Marker({
                position: (myLatlng),
                data: this,
                map: map,
                icon: '@Url.Content("~/Content/Dain-Logo.ico")',
                title: 'Dain Map'
            });

            google.maps.event.addListener(marker, 'click', function () {
                // Hold the pub position in case the user ask for the route
                pubPosition = myLatlng;

                if (infoWindow) {
                    infoWindow.close();
                }

                map.setZoom(14);
                map.setCenter(marker.getPosition());
                
                var contentString = "<img style='max-width: 200px;' src=" + this.data.Photo + ">" +
                    '<p><b>Name: </b>' + this.data.Name + ' (Id: ' + this.data.Id + ')</p><p><b>Rating: </b>' + this.data.Rating +
                    '</p><b>Address: </b>' + this.data.Address + '</p>' + "<button class='btn' id='goPub" + this.data.Id + "' type='button'>HappyHour Time Baby!!!</button> ";

                // Generate the InfoWindow
                infoWindow = new google.maps.InfoWindow({ content: contentString });
                infoWindow.open(map, this);

                // set a event to the button of the infoWindow of the bar, to set a route to the location of the user to the pub
                document.getElementById("goPub" + this.data.Id).addEventListener('click', calculateAndDisplayRoute);
            });
        });

        // Calculation and drawing of the route
        function calculateAndDisplayRoute() {
            directionsService.route({
                origin: new google.maps.LatLng(initialPosition),
                destination: pubPosition,
                travelMode: 'DRIVING'
            }, function (response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
    }

</script>
